$color-purple: #7e0199;
$color-dark-gray: #282828;
$color-light-gray: #f8f8f8;

$color-page-background: $color-light-gray;
$color-body-text: $color-dark-gray;
$color-name-header: $color-dark-gray;
$color-link-text: $color-dark-gray;
$color-link-text-active: $color-purple;
$color-vertical-bar: $color-purple;
$color-divider: $color-dark-gray;
$color-map-marker: $color-purple;
$color-social-icon: #fff;
$color-social-icon-bg: $color-purple;
