@import '../../styles/index.scss';

.Main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vertical-bar {
  height: 100%;
  position: absolute;
  width: 30px;
  background-color: $color-vertical-bar;
  margin-left: 30px;
}

.divider {
  background-color: $color-divider;
  height: 2px;
}

.Content {
  font-family: $font-text;
  display: flex;
  justify-content: center;
}
