@import '../../styles/index.scss';

.Header {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

h1 {
  text-align: center;
  font-family: $font-name-header;
  //font-size: 300%;
  //margin: 0;
  color: $color-name-header;
}

.navbar {
  display: flex;
  justify-content: center;
  font-family: $font-text;
  padding-bottom: 5px;

  .link {
    text-decoration: none;
    color: $color-link-text;
    padding-left: 1%;
    padding-right: 1%;

    &:hover {
      color: $color-link-text-active;
    }
  }

  .active-link {
    color: $color-link-text-active;
  }
}
