@import './styles/index.scss';

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    180deg,
    $color-page-background 20%,
    $color-lavender
  );
  background-repeat: no-repeat;
  color: $color-body-text;
}
