.Work {
  display: flex;
  justify-content: center;

  .work-content {
    display: flex;
    width: 80%;
    justify-content: center;

    .curr {
      h2 {
        text-align: center;
      }
    }

    .work-card {
      display: flex;
      align-items: top;

      img {
        width: 20%;
        height: 20%;
      }

      .work-card-text {
        width: 80%;
        padding-left: 10%;

        h3 {
          margin: 0;
        }

        h4 {
          margin: 0;
        }
      }
    }
  }
}
